body {
    font-family: Arial, sans-serif;
    background-color: white; /* Color de fondo */
    color: white; /* Color del texto */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Encabezados (dejan el color como está) */
h1 {
    color: #ca643c; /* Color del título */
    margin-bottom: 20px;
}

h3 {
    color: #ca643c; /* Color del subtítulo */
    margin-bottom: 20px;
}

/* Contenedor de formulario */
div {
    background-color: #db864d; /* Fondo del contenedor */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

/* Estilo para etiquetas de formulario en color negro */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black; /* Cambia el color del texto de las etiquetas a negro */
}

/* Estilos de campo de entrada de texto */
input[type="text"], input[type="number"] {
    width: 270px;
    padding: 7px;
    border: 1px solid #a1a67d;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    font-size: 16px;
    color: black; /* Cambia el color del texto de los inputs a negro */
}

/* Estilo de botón */
button {
    background-color: #ca643c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #db864d;
}

/* Estilos de la tabla */
.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #db864d;
    border-radius: 10px;
    overflow: hidden;
}

.inventory-table th, .inventory-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ca643c;
}

.inventory-table th {
    background-color: #ca643c;
    color: white;
}

.inventory-table tr:nth-child(even) {
    background-color: #f9d09f;
}

.inventory-table tr:nth-child(odd) {
    background-color: #fab88c;
}

.inventory-table td {
    color: white;
}

.text-black {
    color: black;
}

#inventoryContent {
    display: none;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    background-color: #ca643c;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 82%;
    margin-top: 10px;
}

.button:hover {
    background-color: #db864d;
}
